.container {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;

    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;
    
    background: url(../../images/jqbg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content {

    height: 91vh;
    width: 100%;

    position: relative;
    top: -5vh;

    display: flex;
    flex-direction: column;
    /* 此時為內容水平置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 此時為內容垂直置中 */
    -webkit-justify-content: center;
    justify-content: center;

}


/* 底部導行列 */
.mainNav {
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.mainNavUl {
    background: url(../../images/bottomChoice.png);

    height: 9vh;

    /* 為了讓水平/垂直置中起作用 */
    display: flex;

    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;

    margin: 0;
}

.mainNavUl li {
    padding: 2vw;
    -webkit-flex: 1;
    flex: 1;

    /* 為了讓水平/垂直置中起作用 */
    display: flex;

    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

.mainNavUl li a img {
    margin: auto;

    width: 95%;
    /* width: 25vw;
    height: 10vh; */
}



/* 本文 */
.position {

    width: 40vw;
    height: 33vh;

    display: flex;
    flex-direction: column;
    /* 此時為內容水平置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 此時為內容垂直置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

/* 迴廊群組 (縮圖+文字) */
.position:first-child {
    padding-bottom: 5%;
}

/* 庭院群組 (縮圖+文字) */
.position:last-child {
    padding-top: 5%;
}

.position a {
    display: flex;
    flex-direction: column;
    /* 此時為內容水平置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 此時為內容垂直置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

/* 縮圖 */
.position img {
    width: 100%;
}

/* 文字標示 (迴廊/庭院) */
.position .tag {
    width: 50%;
    margin-top: 1vh;
}