#QwzsContainer {
    position: fixed;
    top: 0;
    overflow: hidden;

    height: 100vh;
    width: 100vw;

    padding: 0;
    margin: 0;
}

/* 隱藏本頁有 .hidden class 的元素 */
#QwzsContainer .hidden {
    display: none;
}

#QwzsContainer .content {
    position: relative;
    height: 100vh;
}

/* 四大灣區 */

#QwzsContainer .fourLakes {
    background: url(../../images/qwzs/sdwqBg.png);

    /* contain是修改背景大小到全部可見，手動輸入則是先管寬度後管長度 */
    background-size: 100vw 100vh;
    position: relative;

    height: 100vh;
    width: 100%;

    padding: 0;
    margin: 0;
}

/* 圖中地區 */
#QwzsContainer .location {

    position: relative;
    top: 36vh;

    height: 45vh;
}

#QwzsContainer .location ul li img {
    width: 90%;
}

#QwzsContainer .location ul li:nth-child(1) {
    position: absolute;

    left: 16.5vw;
    top: 1.5vh;
}

#QwzsContainer .location ul li:nth-child(2) {
    position: absolute;

    right: 29vw;
    top: 5vh;
}

#QwzsContainer .location ul li:nth-child(3) {
    position: absolute;

    right: -11vw;
}

#QwzsContainer .myLocationAndDiscription {
    position: absolute;
    top: 7vh;
    left: 4vw;
    width: 50vw;
}

#QwzsContainer .myLocationAndDiscription img {
    /* 符合父元素大小 */
    width: 100%;
    height: 35vh;
}



/* 交通樞紐 */
#QwzsContainer .traffic {
    /* 定義這個分頁的頁面大小 */
    height: 100%;
    width: 100%;

    /* 將此分項底下的內容，全部以此為定位基準，而且還可以用top...等元素 */
    position: relative;
    overflow: hidden;

    /* 設定背景為顯示全背景 */
    background: url(../../images/swjtbg.png);
    background-size: 100% 100%;
}

#QwzsContainer .centerCircleDiv {
    /* 寬度符合父元素 */
    width: 100%;

    /* 高度依內容物而定 */
    height: 90vh;


    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;

}

#QwzsContainer .centerCircleDiv img {
    width: 83vw;
}

#QwzsContainer .centerCircleDiv img {
    animation: spin 15s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* 唐家灣片區 */
#QwzsContainer .tjw {
    height: 100vh;
    width: 100vw;

    position: relative;
    overflow: hidden;

    background: url(../../images/tjwbg.png);
    /* 指定趴數會改變圖片長寬比，用contain和cover就不會 */
    background-size: 100% 100%;
}

#QwzsContainer .tjw .icon.main {
    background: url(../../images/benan.png);
    background-size: 100% 100%;

    /* 依據父元素的絕對定位 */
    position: absolute;

    top: 21vh;
    left: 41vw;
    width: 24vw;
    height: 14vw;

}

@keyframes fadeOutIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

#QwzsContainer .tjw .icon1 {
    position: absolute;
    top: 21vh;
    left: 56vw;

    background: url(../../images/tjw1.png);
    background-size: 100% 100%;

    width: 24vw;
    height: 43vh;

    animation: fadeOutIn 2s ease infinite;
}

#QwzsContainer .tjw .icon2 {
    position: absolute;
    top: 0vh;
    left: 39vw;

    background: url(../../images/tjw2.png);
    background-size: 100% 100%;

    width: 19vw;
    height: 30vh;

    animation: fadeOutIn 2s ease infinite;
}

#QwzsContainer .tjw .icon3 {
    position: absolute;
    top: 1vh;
    left: 59vw;

    background: url(../../images/tjw3.png);
    background-size: 100% 100%;

    width: 40vw;
    height: 8vh;

    animation: fadeOutIn 2s ease infinite;
}

#QwzsContainer .tjw .icon4 {
    position: absolute;
    top: 58vh;
    left: 53vw;

    background: url(../../images/tjw4.png);
    background-size: 100% 100%;

    width: 48vw;
    height: 15vh;

    animation: fadeOutIn 2s ease infinite;
}

#QwzsContainer .tjw .icon5 {
    position: absolute;
    top: 35vh;
    left: 32vw;

    background: url(../../images/tjw5.png);
    background-size: 100% 100%;

    width: 24vw;
    height: 31vh;

    animation: fadeOutIn 2s ease infinite;
}

#QwzsContainer .toList {
    background: url(../../images/list2bg.png);
    background-size: 100% 100%;

    /* 讓底下元素以此層為參考基準 */
    position: relative;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;

    text-align: center;

    width: 50vw;
    top: 50vh;
    left: 15vw;
}

#QwzsContainer .toList ul {
    margin: 2vh 0;
}

#QwzsContainer .toList li {
    float: left;
    display: inline-block;
    width: 24.5vw;
    height: 7vh;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

#QwzsContainer .toList li img {
    width: 80%;

}



/* 項目配套 */
#QwzsContainer .xmpt {
    height: 100vh;
    width: 100vw;

    position: relative;
    overflow: hidden;

    background: url(../../images/xmptbg.png);

    /* 指定趴數會改變圖片長寬比，用contain和cover就不會 */
    background-size: 100% 100%;
}

#QwzsContainer .xmpt .iconMain {
    background: url(../../images/benan.png);
    background-size: 100% 100%;

    position: absolute;

    width: 28vw;
    height: 16vw;
    top: 51vh;
    left: 45vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon1 {

    background: url(../../images/xmpt1.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 52vh;
    left: 20vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon2 {

    background: url(../../images/xmpt2.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 60vh;
    left: 7vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon3 {

    background: url(../../images/xmpt3.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 49vh;
    left: 69vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon4 {

    background: url(../../images/xmpt4.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 69vh;
    left: 39vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon5 {

    background: url(../../images/xmpt5.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 42vh;
    left: 39vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon6 {

    background: url(../../images/xmpt6.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 45vh;
    left: 56vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon7 {

    background: url(../../images/xmpt7.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 61vh;
    left: 60vw;

    animation-delay: 0.2s;
}

#QwzsContainer .xmpt .icon8 {

    background: url(../../images/xmpt8.png);
    background-size: 100% 100%;

    position: absolute;

    width: 32vw;
    height: 7vh;
    top: 44vh;
    left: 4vw;

    animation-delay: 0.2s;
}


/* 右側menu */
#QwzsContainer .secondMenu {

    /* 絕對定位在螢幕上 */
    position: fixed;

    top: 50vh;
    left: 67vw;

}

#QwzsContainer .secondMenu li {
    height: 5vh;
}

.secondMenu li img {
    height: 100%;
}



/* 全景 */
#QwzsContainer #panomera {
    border: 1px solid #000;


    display: block;
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
}

#QwzsContainer .getBack {
    position: absolute;

    background: url(../../images/goback.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 20vw;
    height: 4vh;

    top: 5vh;
    right: 5vw;
    
    /* 為了讓此層浮在最上面，供用戶點選 */
    z-index: 3;
}

#QwzsContainer .getBack a {
    /* 為了讓大小設定起作用，設定為block */
    display: block;
    width: 20vw;
    height: 4vh;
}