* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
}

.App {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

li {
    list-style-type: none;
}