#NavigationBarContainer {
  height: 9vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #000;
}

/* 對外層的關係 */

/* 底部導行列 */
#NavigationBarContainer .mainNav {
  position: absolute;
  height: 100%;
  width: 100%;
  background: black;

  bottom: 0;
  z-index: 1;
  box-sizing: border-box;
}

#NavigationBarContainer .mainNavUl {
  background: url(../../images/bottomChoice.png);

  height: 100%;
  position: relative;

  /* 為了讓水平/垂直置中起作用 */
  display: flex;
  /* 內容垂直置中 */
  -webkit-align-items: center;
  align-items: center;
  /* 內容水平置中 */
  -webkit-justify-content: center;
  justify-content: center;

  margin: 0;
  padding: 0;
}

#NavigationBarContainer .mainNavUl li {
  padding: 2vw;

  position: relative;

  /* 為了讓水平/垂直置中起作用 */
  display: flex;
  /* 內容垂直置中 */
  -webkit-align-items: center;
  align-items: center;

  /* 內容水平置中 */
  -webkit-justify-content: center;
  justify-content: center;
}

#NavigationBarContainer .navSelected {
  position: relative;
  height: 100%;
  box-sizing: border-box;
  background: url(../../images/bcActive.png);
}

#NavigationBarContainer .mainNavUl li a img {
  margin: auto;

  width: 95%;
}



/* Child Loading Page Transition */
.child-loading-page-transition-enter {    /* This fires as soon as the element enters the DOM */
  opacity: 1;
}
.child-loading-page-transition-enter-active {   /* This is where we can add the transition*/
  opacity: 1;
  transition: all 400ms;
}
.child-loading-page-transition-exit {   /* This fires as soon as the this.state.showList is false */
  opacity: 1;
}
.child-loading-page-transition-exit-active {    /* fires as element leaves the DOM*/
  opacity: 0;
  transition: all 400ms;
}