#ZxbxContainer {
    border: 2px solid red;

    background: url(../../images/fshx/jghxbg.jpg);
    background-size: 100% 100%;

    width: 100vw;
    height: 100vh;

    position: fixed;
    top: 0;
    overflow: hidden;
}

#ZxbxContainer .content {
    height: 91vh;
}

#ZxbxContainer .getBack {
    position: absolute;

    background: url(../../images/goback.png);
    background-size: contain;
    background-repeat: no-repeat;

    width: 20vw;
    height: 4vh;

    top: 5vh;
    right: 5vw;
    
    /* 為了讓此層浮在最上面，供用戶點選 */
    z-index: 3;
}



/* 底部導行列 */
#ZxbxContainer .mainNav {
    position: fixed;
    bottom: 0;
    z-index: 1;
}

#ZxbxContainer .mainNavUl {
    background: url(../../images/bottomChoice.png);

    height: 9vh;

    /* 為了讓水平/垂直置中起作用 */
    display: flex;

    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;

    margin: 0;
}

#ZxbxContainer .mainNavUl li {
    padding: 2vw;
    -webkit-flex: 1;
    flex: 1;

    /* 為了讓水平/垂直置中起作用 */
    display: flex;

    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

#ZxbxContainer .mainNavUl li a img {
    margin: auto;

    width: 95%;
    /* width: 25vw;
    height: 10vh; */
}



#ZxbxContainer .content .upper {

    height: 38vh;
    width: 100%;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 7vh 3vw 0 3vw;

}

#ZxbxContainer .content .upper .villaStyle {

    height: 100%;
    width: 30vw;

    display: inline-block;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;

}

#ZxbxContainer .content .upper .villaStyle img {
    height: 20vh;
}

#ZxbxContainer .content .upper .map {

    height: 100%;
    width: 70vw;

    display: inline-block;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 內容水平置中 */
    -webkit-justify-content: center;
    justify-content: center;
}

#ZxbxContainer .content .upper .map img {
    width: 70%;
    left: 5vw;
}



#ZxbxContainer .downSide {
    height: 45vh;
    width: 100%;

    padding: 0 3vw 4vh 5vw;
}

#ZxbxContainer .downSide .downSideUpper {
    width: 100%;
    height: 50%;

    display: flex;
    flex-wrap: wrap;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;


}

#ZxbxContainer .downSide .downSideUpper .upperLeft {
    height: 100%;
    width: 40%;

    display: flex;    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;

}

#ZxbxContainer .downSide .downSideUpper .upperRight {
    height: 100%;
    width:  60%;

    display: flex;    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;
}

#ZxbxContainer .downSide .under {
    height: 50%;
    width: 100%;

    display: flex;    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;
}

#ZxbxContainer .downSide .buildingStyle {
    width: 15vw;
    height: 100%;

    
    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: center;
    align-items: center;
    /* 內容水平置中 */
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

#ZxbxContainer .downSide .buildingList {
    display: inline-block;

    height: 100%;
    margin-left: 3vw;
}

#ZxbxContainer .downSide .downSideUpper .upperLeft .buildingList{
    width: 20vw;
}
#ZxbxContainer .downSide .downSideUpper .upperRight .buildingList{
    width: 35vw;
}
#ZxbxContainer .downSide .under .buildingList{
}

#ZxbxContainer .buildingCode.up {
    padding-bottom: 5%;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: flex-end;
    align-items: flex-end;
    /* 內容水平置中 */
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
#ZxbxContainer .buildingCode.down {
    padding-top: 5%;

    display: flex;
    /* 內容垂直置中 */
    -webkit-align-items: flex-start;
    align-items: flex-start;
    /* 內容水平置中 */
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}


#ZxbxContainer .buildingCode {
height: 50%;
width: 100%;

display: flex;
/* 內容垂直置中 */
-webkit-align-items: center;
align-items: center;
/* 內容水平置中 */
-webkit-justify-content: flex-start;
justify-content: flex-start;

padding-left: 2vw;
}

#ZxbxContainer .downSide .buildingCode img {
    height: 35%;
    padding-right: 2vw;
}




